@model PagedList.IPagedList<Modeles.Livre>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 2%;">
    <h2>Livres</h2>
    <a href="/Livres/Create" style="margin-left: 2%;">
        <button type="button" class="btn btn-primary">
            Ajouter
        </button>
    </a>
</div>

<hr/>

<form action="/Livres/Index" method="GET">
    <div class="form-group row">
        <input class="form-control mr-sm-2" type="text" name="rechercheString" value="@ViewBag.recherche" placeholder="Titre">
        <input type="hidden" name="sortOrder" value="@ViewBag.sortOrder" />
        <input type="hidden" name="page" value="1" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Titre", "Index", new { rechercheString = @ViewBag.recherche, sortOrder = "titre" })
        </th>
        <th>
            @Html.ActionLink("Auteur", "Index", new { rechercheString = @ViewBag.recherche, sortOrder = "auteur" })
        </th>
        <th>
            @Html.ActionLink("Catégorie", "Index", new { rechercheString = @ViewBag.recherche, sortOrder = "categorie" })
        </th>
        <th>
            @Html.ActionLink("Date d'apparution", "Index", new { rechercheString = @ViewBag.recherche, sortOrder = "date" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Livres/Details/@item.LivreID">
                    @Html.DisplayFor(modelItem => item.Titre)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dapparution)
            </td>
            <td>
                <button type="button" class="btn btn-link">@Html.ActionLink("Modifier", "Edit", new { id = item.LivreID })</button> |
                <button type="button" class="btn btn-link">@Html.ActionLink("Fiche", "Details", new { id = item.LivreID })</button> |
                <button type="button" class="btn btn-link">@Html.ActionLink("Supprimer", "Delete", new { id = item.LivreID })</button>
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.sortOrder, rechercheString = ViewBag.recherche }))
